target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
pom.xml.versionBackup
.mvn/wrapper/maven-wrapper.jar


*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

*.log
logs/
*.tmp

.idea/
*.iml
out/

.vscode/

.DS_Store
Thumbs.db

.env
.env.local
.env.*.local

.gradle/
build/

testClass/